.active{
    font-weight: bold;
}

#join-button {
    background-color: #FD2E3C;
    color: white;
    border-radius: 10%;
}

#join-button a {
    color: white;
}

#join-button a:hover {
    color: blue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEF5E1;
    top: 0;
    width: 100%;
    font-family: serif;
}

.title {
    width: 20%;
    margin-left: 8%;
}

nav ul {
    display: flex;
    margin-right: 8%;
}

.nav-list-item {
   list-style: none; 
}

.nav-list-item a {
    display: block;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    color: #1C59CC;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

.nav-list-item a:not(.active):hover {
    color: blue;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}


@media screen and (max-width: 810px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    .nav-list-item {
        width: 100%;
        text-align: center;
    }

    .nav-list-item a {
        margin: 0.2rem 0.5rem;
    }

    .header-image {
        width: 100%;
    }

    #join-button {
        align-self: center;
        width: 35%;
        border-radius: 0%;
    }

}